@font-face {
  font-family: "FontType1";
  src: local("FontType1"), url(./fonts/font-type-1.ttf) format("truetype");
}
@font-face {
  font-family: "FontType2";
  src: local("FontType2"), url(./fonts/font-type-2.ttf) format("truetype");
}
@font-face {
  font-family: "FontType3";
  src: local("FontType3"), url(./fonts/font-type-3.TTF) format("truetype");
}
@font-face {
  font-family: "FontType4";
  src: local("FontType4"), url(./fonts/font-type-4.ttf) format("truetype");
}

.supported-by {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-style: italic;
  font-size: 10pt;
  color: teal;
}

.supported-by > span {
  font-weight: bold;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper > .react-datepicker__input-container > input {
  width: 100% !important;
}
.react-datepicker-wrapper > .react-datepicker__input-container > input {
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #495057;
}

/* NISN CARD */
.nisn-card {
  width: 1000px;
  height: 310px;
  margin: 20px 10px;
  position: relative;
}

.nisn-card > img {
  width: 100%;
  height: 100%;
}

.nisn-card > .nisn-content {
  position: absolute;
  top: 120px;
  left: 35px;
  width: 400px;
  font-size: 14px;
  background-color: transparent;
}

.nisn-content > .row > .col-sm-3 {
  font-weight: bold;
}
.nisn-content > .row > .col,
.nisn-content > .row > .col-sm-3 {
  padding: 0px;
}

.nisn-pp {
  position: absolute;
  top: 150px;
  left: 350px;
  background-color: white;
}

.nisn-qr {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mini-template {
  width: 100px;
  height: 80px;
  display: inline-block;
  margin: 5px 15px;
}
.mini-template:hover{
  border:2px solid rgb(247, 112, 112);
  cursor: pointer;
}

.mini-template:active{
  border: 3px solid rgb(245, 78, 78);
}
.mini-template > img {
  width: 100%;
  height: 100%;
}
.certificate-container{
  width: 100%;
}
