body {
  background: rgb(3, 139, 121);
}

.supported-by {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-style: italic;
  font-size: 10pt;
  color: teal;
}

.supported-by > span {
  font-weight: bold;
}
